* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gif-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img {
    width: 15rem;
    height: auto;
}

span {
    font-size: 24px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6e6, 0 0 40px #00e6e6;
    animation: neon-glow 1s ease-in-out infinite alternate;
}

@keyframes neon-glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6e6;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00ccff, 0 0 40px #00ccff;
    }
}